* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

:root {
    /* Colors */

    --red: #d72828;
    --grey: #2c2c2c;
    --second-grey: #6a6a6a;
    --white: #e5e5e5;
    --dark-white: #ebebeb;
    --btns-white: #f2f2f2;
}

::selection {
    background: var(--red);
    color: #fff;
    text-shadow: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--grey);
}

/* ------------------ 
      HEADER TOP 
---------------------*/

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid var(--dark-white);
    height: 45px;
}

.header-top__left--nav,
.header-top__right--nav {
    display: flex;
    gap: 24px;
    font-size: 14px;
    color: var(--grey);
}
.header-top__left--nav li a {
    transition: all 0.3s;
}
.header-top__left--nav .active,
.header-top__left--nav li a:hover,
.header-top__right--nav li a:hover {
    color: var(--red);
}

.header-top__right--nav {
    position: relative;
}

.header-top__right--nav li,
.header-top__left--nav li {
    padding: 10px 0;
}

.dropdown {
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    background: #fff;
    border: 1px solid var(--dark-white);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 0.7rem;
    transition: all 0.5s ease;
    transform: translateY(0%);
    animation: floatingSubMenu 0.3s ease-in-out;
}

.dropdown.home-dropdown {
    left: 20px;
    padding: 0 20px;
}

.dropdown.home-dropdown li {
    padding: 10px;
}

.dropdown.myAccount-dropdown,
.dropdown.currency-dropdown {
    left: -80px;
}

.header-top__right--nav li:hover > .dropdown,
.header-top__right--nav li:focus-within > .dropdown,
.header-top__left--nav li:focus-within > .dropdown,
.header-top__left--nav li:hover > .dropdown {
    visibility: visible;
    display: block;
    opacity: 1;
}

.fa-angle-down {
    transition: all 0.8s;
}
.header-top__right--nav li:hover > a i {
    rotate: -90deg;
}

@keyframes floatingSubMenu {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.dropdown.myAccount-dropdown li,
.dropdown.currency-dropdown li {
    padding: 10px 50px;
    text-align: center;
    font-size: 13px;
}

.dropdown li:not(:last-child) {
    border-bottom: 1px solid var(--dark-white);
}

/* ------------------ 
    HEADER BOTTOM
---------------------*/

.header-bottom {
    padding: 0 30px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    flex: 0 0 12%;
    max-width: 12%;
}

.forms,
.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-forms {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    display: flex;
    justify-content: start;
    gap: 30px;
}

.categories {
    background: var(--btns-white);
    flex: 0 0 30%;
    width: 200px;
    max-width: 300px;
    min-width: 200px;
    padding-left: 15px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
}

.categories p {
    width: 100%;
    padding: 0 15px;
}

.form-search {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 75%;
}

.form-search form {
    display: flex;
    padding-right: 100px;
    position: relative;
}

input[type="search"] {
    border: 0 none;
    color: #a4a4a4;
    height: 48px;
    line-height: 48px;
    margin: 0;
    outline: none;
    padding: 0 15px;
    width: 100%;
}

input[type="submit"] {
    background: var(--red);
    color: #fff;
    padding: 0 27px;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 13px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    /* float: right; */
    position: absolute;
    right: -1px;
    top: -1px;
    transition: all 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--grey);
}

input::placeholder {
    font-family: "Poppins";
    font-weight: 500;
    color: var(--second-grey);
    width: 100%;
}

.cart {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex: 0 0 12%;
    max-width: 12%;
}

.cart-icon {
    position: relative;
}

.cart-icon .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--red);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.cart i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.5s;
}

.cart i:hover {
    color: var(--red);
}

.cart i.fa-heart {
    border-right: 1px solid var(--dark-white);
    padding: 0 10px;
}

/* ------------------ 
    HERO SECTION
---------------------*/

.hero {
    height: calc(100vh - 175px - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    background-image: url("https://korando-demo.myshopify.com/cdn/shop/files/1.jpg?v=1613746677");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: slider-animation 10s ease-in-out infinite alternate;
}

@keyframes slider-animation {
    0%,
    40% {
        background-image: url("https://korando-demo.myshopify.com/cdn/shop/files/1.jpg?v=1613746677");
    }

    60%,
    100% {
        background-image: url("https://korando-demo.myshopify.com/cdn/shop/files/2.jpg?v=1613746737");
    }
}

.hero-container {
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & .hero-content {
        flex: 0 0 65%;
        max-width: 65%;
        line-height: 1.2;
        position: relative;

        & h2 {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 20px;

            & span {
                color: var(--red);
                display: block;
            }
        }

        & h4 {
            font-size: 2rem;
            font-weight: 400;
            animation-delay: 0.3s;

            & span {
                color: var(--red);
            }
        }

        & .hero-btn {
            display: flex;
            gap: 20px;
            margin-top: 30px;
            animation-delay: 0.6s;

            & a {
                background: var(--grey);
                color: #fff;
                padding: 16px 30px;
                border-radius: 3px;
                font-size: 1rem;
                font-weight: 400;
                text-transform: uppercase;
                transition: all 0.5s;
                cursor: pointer;

                &:hover {
                    background: var(--red);
                }
            }
        }
    }
}

.hero-sliders__white,
.hero-sliders__black {
    position: absolute;
    bottom: -130px;
    cursor: pointer;
}

.hero-sliders__black {
    height: 8px;
    width: 30px;
    background: #000;
    left: 5px;
    border-radius: 20px;
}

.hero-sliders__white {
    height: 8px;
    width: 8px;
    background: #fff;
    left: 40px;
    border-radius: 50%;
}

/* ------------------ 
    MAIN SECTION
---------------------*/

main {
    padding: 30px;
    max-width: 1240px;
    margin: auto;
}

/* ------------------ 
    TEMPLATES SECTION
---------------------*/

.templates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: w;
    gap: 20px;
    border: 1px solid var(--dark-white);
    padding: 30px 10px;

    & article {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 10px;

        & .templates-icons i {
            font-size: 1.6rem;
            color: var(--red);
        }

        & .templates-content {
            & h4 {
                font-size: 1rem;
                font-weight: 600;
            }

            & p {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
    }
}

.templates article:not(:last-child) {
    border-right: 1px solid var(--dark-white);
}

/* ------------------ 
    MEDIA QUERIES
---------------------*/

@media screen and (min-width: 1600px) {
    .header-top,
    .header-bottom {
        padding: 0 75px;
    }
}

@media screen and (max-width: 1200px) {
    input[type="search"] {
        width: 100%;
    }
}
